colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
et_xmlfile==2.0.0
numpy==2.4.4
openpyxl==3.1.5
packaging==26.2
pandas==3.0.2
plyer==2.1.0
psutil==7.2.2
python-dateutil==2.9.0.post0
pywin32==311
six==1.17.0
tzdata==2026.2
watchdog==6.0.0
WMI==1.5.1
